@import "../../scss/style.scss";

body {
  background: #fbfcfd;
}

.radio-empty {
  width: 34px;
}

h2.filter-name {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

td.radioe {
  width: 34px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  margin-bottom: 13px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #838080;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #838080;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.more {
  font-size: 20px;
}

.fa-home {
  color: #2f5e82;
}

th.update-head {
  font-size: 11px;
  width: 0;
}

.reme-checkbox-new {
  display: flex;
}

.a-modal .modal-dialog .button-comp {
  margin-left: 0px;
}

.a-modal .modal-dialog .button-comp button:first-child {
  margin-right: 10px;
}

.a-modal .modal-dialog .a-modal-example-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.a-modal .modal-dialog .a-modal-example-header .badge {
  margin-right: 10px;
}

.a-modal .modal-dialog .a-modal-example-header .modal-title-left {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: "PwC Helvetica Neue";
}

.a-modal .modal-dialog .modal-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #2d2d2d;
  line-height: 1.875rem;
}

.a-modal .modal-dialog .flex-fill {
  flex: 1 1 auto !important;
}

.a-modal .modal-dialog .modal-footer .help-text {
  font-size: 0.75rem !important;
  color: #2d2d2d !important;
}

.a-modal .modal-dialog.baseline-modal-showcase .modal-body {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.a-modal .modal-content {
  border: 0;
  box-shadow: 0 0.4375rem 1.125rem 0.0625rem rgba(0, 0, 0, 0.16);
  width: 253%;
  margin-left: -378px;
  border-radius: 0.125rem;
}

.backnav {
  color: black;
}

.task-circle {
  width: 10px;
  height: 10px;
  background: #c52a1a;
  border-radius: 50%;
}

.task-done {
  width: 10px;
  height: 10px;
  background: #22992e;
  border-radius: 50%;
}

.restricted {
  width: 10px;
  height: 10px;
  background: #c52a1a;
  border-radius: 50%;
}

.remed-nav {
  color: #295477 !important;
}

a:link {
  text-decoration: none !important;
}

.back-link {
  color: black;
}

.mod-title {
  color: #464646;
  width: 200px;
  display: block;
}

.a-modal .modal-header .a-close-btn {
  background: transparent;
  font-size: 0.75rem;
  cursor: pointer;
  color: #9e9e9e;
}

.fa-eye {
  font-size: 20px;
  opacity: 0.5;
}

td.row-content.pwcid {
  width: 100px !important;
  cursor: pointer;
}

td.row-edit {
  width: 44px;
  cursor: pointer;
}

button.addNew {
  position: absolute;
  right: 0px;
  top: -53px;
  width: 10%;
  padding: 8px;
  border-radius: 2px;
  color: white;
  background: #299d8f;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

button.trans-cancel {
  padding: 8px;
  background: none;
  border: 1px solid #299d8f;
  color: #299d8f;
  width: 80px;
}

button.trans-save {
  padding: 10px;
  background: #299d8f;
  color: #fff;
  width: 80px;
  border-radius: 3px;
}

input.remediation-section-input-new {
  background: #f2f2f2;
  padding: 10px;
  width: 100%;
}