@import "../../scss/style.scss";

.breadcrumb-story-container .mr-10 {
  margin-right: 0.625rem;
}

.breadcrumb-story-container .font-14 {
  font-size: 1rem;
}

.breadcrumb-story-container .font-13 {
  font-size: 0.8125rem;
}

.breadcrumb-story-container .font-16 {
  font-size: 1rem;
}

.icon-home-fill:before {
  content: "\E879";
  color: #2f5e82;
}

.a-breadcrumbs {
  display: flex;
  padding-bottom: 20px;
  line-height: 1;
  border-bottom: none !important;
}

.breadcrumb-story-container {
  margin-left: 40px;
}

span.a-breadcrumb-item-text {
  color: black;
}