@import "../../scss/style.scss";

span.hide {
    margin-right: 33px;
    border: none;
    color: $hide-color;
}

.text-size {
    border-bottom: 1px solid $border-bottom-color;
    width: fit-content;
    text-align: center;
    float: inherit;
    border-bottom: none;
    color: $text-color;
}

span.edit {
    border: none;
    color: $hide-color;
}

.confirmation {
    margin-top: 5rem;
}

.database-details.col-sm-9 {
    padding: 0;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

.xls {
    border: 1px solid $dark-color;
    padding: 3px 5px;
    margin-right: 17px;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    top: -2px;
}

li.col-sm-6 {
    max-width: 44%;
    margin-right: 36px;
    border-radius: 4px;
}

.data-confirmation {
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border-bottom-color;
}

.data-confirmation:last-child {
    border-bottom: none;
}

th.bulk-data {
    height: 46px !important;
    border-top: none !important;
    width: 15%;
}

table tr td {
    height: 40px !important;
}

.modal-text {
    font-size: 14px;
    margin-top: -44px;
    color: $text-color;
}

.close-btn {
    float: right;
    position: relative;
    right: -268px;
    font-size: 14px;
    color: $close-btn-color;
    top: -90px;
    cursor: pointer;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 140%;
    margin-left: -101px;
    margin-top: 144px;
    pointer-events: auto;
    background-color: $bg-color;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-footer>* {
    color: $nav-text-color;
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.confirm-text {
    font-size: 22px;
    font-weight: 500;
    color: $text-color;
}

.count {
    color: $text-color;
    font-weight: bold;
}