@import "../../scss/style.scss";

.loader-color {
    color: $primary-color !important;
}

.loader-align {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color !important;
}