@import "../../scss/style.scss";

.search-bar-bulk {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 400px;
  height: 32px;
  margin-top: 32px;
}

.search-bar-bulk input[type="text"] {
  border: none;
  background: transparent;
  font-size: 17px;
  outline: none;
  padding: 4px;
  width: 360px;
}

.bulk-updates {
  width: 100%;
  float: left;
  background: $bulk-update-color;
  height: 100vh;
}

.task-report {
  width: 90%;
  margin: 7rem auto;
}

.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2.task-name {
  color: $text-color;
  width: 119px;
  height: 36px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
}

p.task-number {
  margin-top: 14px;
  font-size: 14px;
  color: $text-color;
}

.border-bottom-update {
  margin-top: 20px;
  border-bottom: 1px solid $line-color;
}

.filter-projects {
  margin-top: 20px;
}

.dropdown-btns {
  position: relative;
}

.dropdown-btns-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.field-dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.field {
  width: 161px;
  border: 1px solid $line-color;
  padding: 8px;
}

.metrics-name {
  width: 161px;
  border: 1px solid $line-color;
  padding: 8px;
  margin-left: 30px;
}

.update-table {
  margin-top: 26px;
}

th.update-head-new {
  font-size: 11px;
  width: 100px;
}

.head-cont-update {
  display: flex;
}

.head-cont-update i.fa.fa-sort {
  margin-left: 20px;
}

td.row-content {
  color: #295477;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

td.row-cont {
  color: $text-color;
  font-size: 14px;
  width: auto;
}

h2.filter-name {
  font-size: 12px;
  color: black;
  font-weight: 500;
}

.input-value {
  width: 161px;
  padding: 8px;
  margin-left: 20px;
  border: 1px solid #dedede;
}

button.update-apply {
  margin-left: 30px;
  padding: 9px;
  border-radius: 2px;
  background-color: #f2f2f2;
  width: 100px;
  font-size: 14px;
  color: #7d7d7d;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.input-value input {
  width: 147px;
}

.bulk-btns {
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 14px;
}

button.bulk {
  width: 83px;
  padding: 8px;
  border-radius: 2px;
  border: solid 1px #299d8f;
  color: #299d8f;
  background: white;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

button.export {
  width: 96px;
  padding: 8px;
  border-radius: 2px;
  border: solid 1px #299d8f;
  color: white;
  background: #299d8f;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

td.row-cont-circle {
  display: flex;
  align-items: center;
  width: auto;
}

.circle {
  width: 10px;
  height: 10px;
  background: #22992e;
  border-radius: 50%;
}

.done {
  width: 10px;
  height: 10px;
  background: #ffbf1f;
  border-radius: 50%;
}

.restricted {
  width: 10px;
  height: 10px;
  background: #c52a1a;
  border-radius: 50%;
}

.status-name {
  margin-left: 25px;
}

span.bulk-bold {
  font-size: 15px;
  font-weight: bold;
}

i.fa.fa-edit {
  font-size: 20px;
  opacity: 0.5;
}

td.row-delete {
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.col-sm-10 {
  margin: 0 !important;
  padding: 0 !important;
}

h4.filename {
  font-size: 11px;
  font-weight: 600;
}

.field select {
  width: 145px;
}

.metrics-name select {
  width: 145px;
}

td.row-content:nth-child(1) {
  width: 190px;
}