@import "../../scss/style.scss";

.disclosure-wrapper {
  margin-top: 6em;
}

h2.disclosure-name {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.disclosure-container {
  width: 90%;
  margin: 0 auto;
}

button.disclosure-export a {
  color: #fff;
  text-decoration: none;
}

.disclosure-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.report-page {
  display: block !important;
  margin-top: 3em;
}

.disclosure-table {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #dedede;
}

table.disclosure--table-head {
  width: 80%;
  margin: 2em auto;
}

tr.disclosure-row {
  background: #f2f2f2;
  height: 70px;
  //   border-bottom: 1px solid #e1e1e1;
  border-bottom: 1px solid #dedede;
}

.disclosure-table .remediation-field {
  width: 38%;
  padding: 3px;
}

.disclosure-table select {
  width: 193px;
}

.disclosure-row td {
  width: auto;
  color: black;
  font-weight: 600;
  line-height: 26px;
}

.disclosure-row td:nth-child(1) {
  padding-left: 40px;
}

.disclosure-table .remediation-field {
  background: white;
}

.disclosure-btns {
  margin-top: 30px;
  text-align: end;
  outline: none !important;
  font-size: 13px;
}

button.disclosure-cancel {
  padding: 10px;
  margin-right: 20px;
  width: 120px;
  background: white;
  border: 1px solid #299d8f;
  outline: none;
  color: #299d8f;
}

button.disclosure-export {
  padding: 10px;
  width: 120px;
  background: #299d8f;
  color: white;
  border-radius: 3px;
  outline: none;
}

p.task-name {
  font-size: 12px;
  font-weight: 600;
}

.search-bar input::placeholder {
  color: black !important;
}

.bread-slash {
  color: #e0e0e0;
}