@import '../../scss/style.scss';

.MuiStepper-root {
    padding: 0 !important;
}

.a-btn.a-btn-primary {
    text-transform: uppercase !important;
}

.alignment-right {
    float: right;
    text-align: end;
    position: relative;
    top: 50px;
}

.alignment-top {
    position: relative;
    top: -82px;
    text-align: end;
}

.pipe {
    border-left: 2px solid $border-color;
    margin-left: 20px;
}