@import "../../scss/style.scss";

.remediation-section {
  width: 100%;
  border: 1px solid #e7e7e8;
  margin-top: 2em;
  color: #7d7d7d;
}

.remediation-section-form {
  padding: 10px;
}

.address-lines {
  display: flex;
  align-items: center;
  width: 94%;
  margin: 30px auto;
}

.address-one {
  display: grid;
  width: 50%;
}

.address-two {
  display: grid;
  width: 50%;
  margin-left: 20px;
}

input.remediation-section-input {
  background: #f2f2f2;
  padding: 10px;
}

label.address-label {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

input.remediation-section-input::placeholder {
  color: #7d7d7d !important;
  font-size: 12px;
  font-weight: 600;
}

.remediation-field {
  background: #f2f2f2;
  border: 1px solid #e7e7e8;
  padding: 10px;
}

.remediation-field select {
  background: transparent;
  width: 485px;
  font-size: 14px;
  font-weight: 600;
  color: #7d7d7d;
}

//tabs

.tab {
  width: 80%;
  margin-left: 34px;
}

.tab button {
  border: 1px solid #f1f1f1;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 33%;
  color: #7d7d7d;
  font-weight: 500;
  border-left: 1px solid #e7e7e8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.address-lines-mdm {
  display: flex;
  align-items: center;
  width: 94%;
  margin: 30px auto;
}

.address-one-mdm {
  display: grid;
  width: 50%;
}

input.remediation-section-input-mdm {
  background: #f2f2f2;
  padding: 10px;
  width: 75%;
}

button.UPDATE {
  background: #299d8f;
  border: none;
  padding: 10px;
  color: white;
  margin-left: 24px;
  width: 100px;
  border-radius: 3px;
  font-size: 13px;
}

.new-label-mdm {
  display: flex;
  align-items: center;
  justify-content: start;
}

.reme-checkbox {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

label.no-mdm {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
}

input.remediation-section-checkbox {
  opacity: 0.8;
}

.address-one-notes {
  display: grid;
  margin-top: 23px;
}

.address-one-notes:nth-child(1) {
  margin: 0;
}

.follow-notes {
  margin-left: 22px;
  position: relative;
  top: -49px;
}

.follow-notes textarea {
  background: #f2f2f2;
  padding: 10px;
}

.section-border {
  // border: 1px solid #e7e7e8;
  // margin-top: 20px;
}

button.tablinks:nth-child(1) {
  background: white;
  border-top: none;
}

button.request-follow {
  position: absolute;
  right: 9em;
  margin-top: 9em;
  background: #299d8f;
  padding: 10px;
  color: white;
  font-size: 12px;
  outline: none;
  border-radius: 4px;
}

.section-popup-header {
  width: 100%;
  margin-top: 4em;
  border-bottom: 1px solid #dedede;
}

button.follow-up {
  background: orange;
  padding: 5px;
  border-radius: 18px;
  font-size: 11px;
  margin-left: 14px;
  color: white;
}

.section-popup-first {
  display: flex;
  align-items: center;
}

h4.trans-hub-name {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 9px;
  font-weight: normal;
}

span.rem-record {
  margin-left: 10px;
  font-weight: bold;
}

h2.req-follow-up {
  font-size: 22px;
  margin-left: 16px;
  margin-top: 6px;
}

.section-popup {
  width: 95%;
  margin: 3em auto;
}

.section-search {
  width: 30%;
  border: 1px solid #dedede;
  background: #f2f2f2;
}

.section-search input {
  background: transparent;
  width: 90%;
}

.section-search input::placeholder {
  color: black !important;
  font-size: 12px;
  font-weight: 500;
}

.recent-collabartion {
  margin-top: 30px;
}

p.recent-cont {
  font-size: 11px;
  font-weight: 500;
}

.user-one {
  border: 1px solid #dedede;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-one input[type="radio"] {
  position: unset;
  margin-left: 30px;
}

.user-one {
  border: 1px solid #dedede;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.bg-active {
  border: 1px solid #dedede;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  background: #f2f2f2;
}

.user-two input[type="radio"] {
  position: unset;
  margin-left: 30px;
}

.user-frank {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-pic {
  margin-left: 32px;
}

img.frank {
  width: 34px;
  border-radius: 50%;
}

.user-left {
  margin-left: 10px;
  border-right: 1px solid #dedede;
  width: 10px;
  height: 53px;
}

.user-content {
  margin-left: 24px;
  margin-top: 10px;
}

.user-supervisor {
  display: flex;
  align-items: center;
}

span.frank {
  font-weight: 500;
}

p.user-manager {
  margin: 0;
  font-size: 12px;
}

p.frank-mail {
  font-size: 12px;
}

.popup-description {
  margin-top: 40px;
}

p.popup-description-cont {
  font-size: 11px;
  font-weight: 500;
}

.due {
  font-size: 11px;
  font-weight: 500;
}

.popup-description-content {
  width: 40%;
  border: 1px solid #dedede;
  height: 100px;
  padding: 10px;
  background: #f2f2f2;
}

.calender-show {
  margin-top: 32px;
  font-size: 11px;
}

.calender-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  border: 1px solid #dedede;
  padding: 10px;
  background: #f2f2f2;
}

p.date-format {
  margin: 0;
}

p.cal-icon {
  margin: 0;
}

button.trans-cancel-one {
  background: none;
  outline: none;
}

button.trans-save-one {
  background: none;
  outline: none;
}


.border-red {
  border: 1px solid red;
}

button.trans-save-one {
  color: #295477;
}