@import "../../scss/style.scss";

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  margin: auto;
  border-radius: 2px;
  background: $bg-color;
  text-align: center;
}

h4.upload {
  padding: 10px;
  font-size: 18px;
  margin-top: 2em;
  font-weight: bold;
  color: $text-color;
}

.tick_imag img {
  width: 80px;
}

h4.work-done {
  margin-top: 30px;
  font-weight: normal;
  margin-bottom: 2em;
  font-size: 16px;
  color: $text-color;
  padding-left: 15%;
  padding-right: 15%;
}

.popup-btns {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid $border-color;
  text-align: -webkit-center;
  margin-bottom: 2em;
}

.followup-close {
  padding-top: 35px;
}

button.remediation {
  display: block;
  margin-top: 3em;
  border: none;
  background: $label-top-color;
  padding: 10px;
  color: $bg-color;
  outline: none;
  width: 204px;
  border-radius: 3px;
  font-size: 14px;
}

button.return-btn {
  display: block;
  margin-top: 3em;
  border: none;
  background: none;
  color: #295477;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.tick_imag {
  margin-top: 15px;
}