@import "../../scss/style.scss";

.cont-left {
  width: 18%;
}

.file-upload {
  width: 90%;
  margin: 10px auto;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  background-color: $bg-color;
}

.back-menu {
  margin-top: 26px;
  margin-left: 3.5rem;
}

i.fa.fa-home {
  margin-right: 23px;
}

.dashBoard {
  margin-left: 11px;
  font-size: 12px;
  color: $text-color;
}

.stepper {
  width: 92%;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 30px;
}

h2.File-upload-name {
  font-size: 22px;
  margin-top: 20px;
  font-weight: bold;
}

h2.data-upload {
  width: 90%;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 20px;
}

span.slash {
  padding-left: 14px;
  color: $srch-border-color;
}