@import "../../scss/style.scss";

.remediatonlist-wrapper {
  background: #fbfcfd;
  margin-left: -1px;
  height: 100vh;
  margin-top: 70px;
}

.remediatonlist-content {
  width: 90%;
  margin: 0 auto;
}

.remediatonlist-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: white;
  border: 1px solid #e7e7e8;
}

.remediation-top {
  padding-top: 24px;
}

.content-field input[type="text"] {
  width: 300px;
  border: 1px solid #cdcdcd;
  padding: 10px;
  background: #efeeee;
}

p.content-field-name {
  font-size: 12px;
  font-weight: bold;
}

button.remediatonlist-add {
  display: block;
  background: none;
  font-size: 12px;
  font-weight: bold;
  outline: none;
}

button.remediatonlist-find {
  background: #299d8f;
  padding: 10px;
  width: 120px;
  margin-top: 6px;
  color: white;
  border-radius: 2px;
  outline: none;
}

.content-field ::placeholder {
  color: black !important;
}

span.remediatonlist-plus {
  font-size: 16px;
}

.pagination-demo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
}

.pagination-demo.dark {
  background-color: #fafafa;
}

.pagination-demo [aria-label="Page navigation"] {
  margin: 0.9375rem;
}

.remediation-list-div {
  display: flex;
  align-items: center;
  justify-content: start;
}

h2.pwc-name {
  font-size: 12px;
  font-weight: bold;
}

th.remediation-list-table {
  border-bottom: none;
  width: 1px;
}

.remediation-list-div i.fa.fa-sort {
  margin-top: -8px;
  margin-left: 12px;
}

td.remediation-list-detail:nth-child(6) {
  color: black;
  font-weight: bold;
}

td.remediation-list-detail {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  color: black;
}

.remediation-list {
  padding: 30px;
  background: white;
  border: 1px solid #e7e7e8;
  margin-top: 6px;
  position: relative;
}

tr.remediation-list-item {
  border: 1px solid lightgray;
  background: #f3f3f3;
}

tr.remediation-list-table-head {
  border-bottom: none;
}

td.remediation-list-detail:nth-child(1) {
  width: auto;
  padding-left: 28px;
  color: #295477;
}

td.remediation-list-detail:nth-child(5) {
  padding-left: 38px;
}

.remediation-list-detail input[type="radio"] {
  position: absolute;
  top: 9.5em;
  left: 5em;
  width: 20px;
  height: 20px;
}

.more-btn {
  position: absolute;
  right: 3em;
  top: 136px;
}

.more-btn i.fa.fa-info-circle {
  position: absolute;
  top: 6px;
  right: 30px;
  color: #7d7d7d;
  font-size: 20px;
  cursor: pointer;
}

span.span-red {
  color: red;
  font-size: 13px;
}

.more-btn i.fa.fa-trash {
  position: absolute;
  top: 4px;
  right: 0px;
  color: #7d7d7d;
  font-size: 20px;
}

.more-btn i.fa.fa-ellipsis-h {
  font-size: 20px;
  margin-top: 5px;
}

h2.remediation-stepper-name {
  font-size: 22px;
  font-weight: 500;
}

.remediation-stepper {
  margin-top: 5em;
}

p.show-result {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 500;
}

.remediation-stepper-list {
  padding: 10px;
}

.remediation-stepper-list .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.MuiPaper-elevation0 {
  border: 1px solid #e7e7e8;
  padding: 30px !important;
}

.reme-crud {
  margin-top: 7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reme-user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reme-follow-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dedede;
  padding: 5px;
}

.reme-fa-user i.fa.fa-user {
  color: #dedede;
  padding-right: 11px;
}

.reme-fa-user {
  border-right: 1px solid #dedede;
  margin-left: 14px;
}

.reme-auto-spell {
  padding-left: 10px;
}

.mail-content {
  width: 63px;
}

.mail-content i.fa.fa-envelope {
  padding-left: 16px;
  margin-right: 15px;
  color: #dedede;
}

.reme-auto-spell input {
  width: 146px;
}

i.fa.fa-bell {
  color: #dedede;
}

.reme-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin-top: 3em;
  position: relative;
  top: -100px;
  left: 50px;
}

h2.reme-name-content {
  font-size: 16px;
}

h3.reme-name-kiran {
  font-size: 12px;
  margin-top: 30px;
}

.reme-pwc-status {
  display: flex;
  align-items: center;
}

p.reme-complete {
  font-size: 12px;
  margin-bottom: 0;
  position: relative;
  top: 17px;
}

.reme-popup i.fa.fa-sort {
  font-size: 14px;
  margin-top: 22px;
  margin-left: 9px;
}

.reme-fields {
  padding-top: 2em;
}

.reme-data-modified {
  padding-top: 2em;
}

.reme-out {
  position: relative;
}

.reme-out i.fa.fa-window-close {
  position: absolute;
  font-size: 21px;
  left: 57em;
  cursor: pointer;
}

.remediation-list-div:nth-child(1) {
  margin-left: 20px;
}

.a-dropdown.open .select-toggle {
  box-shadow: none;
  outline: none;
}

.a-dropdown {
  width: 88%;
}

.a-dropdown .select-toggle {
  border: none;
  background: transparent;
  width: 170px;
}

.select-toggle-text-wrapper {
  color: #7d7d7d;
  font-weight: 500 !important;
}

i.color-change.fa.fa-user {
  color: #7d7d7d;
}

i.color-change.fa.fa-envelope {
  color: #7d7d7d;
}

i.color-change.fa.fa-bell {
  color: #7d7d7d;
}

.a-select-wrapper:focus .select-toggle {
  box-shadow: none;
}

li.a-list-item.active {
  background: transparent !important;
}

.a-dropdown .select-toggle .select-toggle-icon.icon-search-outline {
  margin-right: 10px;
  display: none;
  font-size: 1rem;
}

.finish-btn {
  color: #FFFFFF !important;
}