@import "../../scss/style.scss";

.remediation-section {
  width: 100%;
  border: 1px solid #e7e7e8;
  margin-top: 2em;
  color: #7d7d7d;
}

.remediation-section-form {
  padding: 10px;
}

.address-lines {
  display: flex;
  align-items: center;
  width: 94%;
  margin: 30px auto;
}

.address-one {
  display: grid;
  width: 50%;
}

.address-two {
  display: grid;
  width: 50%;
  margin-left: 20px;
}

input.remediation-section-input {
  background: #f2f2f2;
  padding: 10px;
}

label.address-label {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

input.remediation-section-input::placeholder {
  color: #7d7d7d !important;
  font-size: 12px;
  font-weight: 600;
}

.remediation-field {
  background: #f2f2f2;
  border: 1px solid #e7e7e8;
  padding: 10px;
}

.remediation-field select {
  background: transparent;
  width: 485px;
  font-size: 14px;
  font-weight: 600;
  color: #7d7d7d;
}

.border-red{

  border: 1px solid red;
}