@import "../../scss/style.scss";

.content-show {
  width: 100%;
}

.main-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  height: 150px;
  border-bottom: 1px solid $border-color;
}

.avail-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

img.search {
  width: 24px;
  margin: 5px;
}

.search-bar input {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 400px;
  height: 32px;
  border-radius: 2px;
  border: none;
  background: transparent;
}

.search-bar {
  border: 1px solid $line-color;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 400px;
  height: 32px;
}

p.avail {
  padding-top: 4px;
  width: 177px;
  height: 21px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-color;
}

.performance-matrics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

h2.metrics {
  width: 289px;
  height: 36px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: $text-color;
}

td:nth-child(1) {
  color: $nav-text-color;
  padding-top: 18px;
  width: 165px;
  height: 18px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

td:nth-child(2) {
  width: 76px;
  height: 18px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $nav-text-color;
}

td:nth-child(6) {
  color: $nav-text-color;
}

.dropdowns {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-dropdown select {
  padding: 4px;
  outline: none;
  width: 158px;
  height: 34px;
  border-radius: 2px;
  border: solid 1px $srch-border-color;
  background-color: $bg-color;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

p.label-name {
  margin-bottom: 13px;
  width: 220px;
  height: 12px;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: $text-color;
}

.label:nth-child(3) {
  border-top: 3px solid $header-color;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

span.label-number {
  width: 115px;
  height: 70px;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: $text-color;
}

p.percentage {
  margin-left: 10px;
  margin-top: 15px;
  width: 65px;
  height: 36px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: $text-color;
}

.icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.arrow {
  width: 20px;
  height: 35px;
}

.label {
  border-top: 3px solid $label-top-color;
  padding: 10px;
  width: 252px;
  height: 160px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  background-color: $bg-color;
}

p.details {
  color: $details-color;
  margin: 4px 0px 0px 11px;
  padding-top: 5px;
  width: 220px;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  cursor: pointer;
}

.program-metrics {
  margin-top: 40px;
}

p.program-head {
  width: 170px;
  height: 36px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: $text-color;
  margin-left: 7px;
}

.bar-charts {
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.burn-rates {
  width: 49%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: none;
  text-align: left;
  padding: 8px;
  width: 71px;
  height: 21px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-color;
}

th {
  border: none;
  border-bottom: 1px solid $border-color;
  padding: 8px;
  height: 12px;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: $text-color;
}

.recent-uploads {
  margin-top: 40px;
}

.recent-uploads h2 {
  margin-bottom: 24px;
  width: 206px;
  height: 36px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: $text-color;
}

.info-name {
  display: flex;
  background: $bg-color;
  margin-top: 40px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
}

.base-content {
  width: 51%;
  margin: 0 auto;
}

h1.info-head {
  padding-top: 15px;
  width: 637px;
  height: 44px;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: $text-color;
}

p.update-content {
  margin-top: 30px;
  width: 578px;
  height: 48px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-color;
}

button.open-btn {
  background: $button-bg-color;
  color: $bg-color;
  margin-top: 35px;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  width: 214px;
  height: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

img.finger {
  width: 100%;
  height: 263px;
}

.recent-files {
  margin-top: 32px;
  margin-bottom: 2em;
}

.sub-case {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid $border-color;
  height: 110px;
}

p.case-head {
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}

p.case-number {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

p.date-number {
  margin-top: 20px;
  font-size: 14px;
}

.case-id {
  border: 1px solid $bg-color;
  margin-top: 20px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  border-top: 0px;
  border-radius: 5px;
}

.pending-status {
  display: flex;
  width: 90%;
  margin: 23px auto;
  align-items: center;
}

button.pending {
  color: $bg-color;
  background: $pending-btn-color;
  border: none;
  font-size: 12px;
  outline: none;
  font-weight: bold;
  width: 149px;
  height: 24px;
  border-radius: 12px;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0 !important;
  margin-left: 20px;
  margin-bottom: 0rem !important;
}

.alert-box {
  display: flex;
  align-items: center;
}

p.alert-text {
  margin-left: 13px;
  width: 573.3px;
  height: 10px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: normal;
  color: $alert-text-color;
}

span.bold {
  font-size: 14px;
}

span.before {
  margin-left: 13px;
}

button.share {
  color: $bg-color;
  margin-left: 12px;
  padding: 7px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 88px;
  height: 34px;
  border-radius: 2px;
  background-color: $label-top-color;
}

button.approve {
  padding: 6px;
  background: $bg-color;
  color: $label-top-color;
  outline: none;
  font-size: 14px;
  width: 106px;
  height: 34px;
  border-radius: 2px;
  border: solid 1px $label-top-color;
}

button.complete {
  color: $bg-color;
  background: $complete-btn-color;
  border: none;
  font-size: 12px;
  outline: none;
  font-weight: bold;
  width: 149px;
  height: 24px;
  border-radius: 12px;
}

.dashboard-name {
  width: 84px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-color;
}

.number {
  font-weight: bold;
}

.name {
  width: 126px;
  height: 36px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: $text-color;
}

.spl-text {
  font-weight: bold;
}

.view {
  width: 50px;
  height: 21px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-color;
  margin-bottom: 0rem;
}

.sort-by {
  margin-right: 15px;
}

.approve-text {
  width: 66px;
  height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $label-top-color;
}

.share-text {
  width: 48px;
  height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $bg-color;
}