@import "../../scss/style.scss";

h2.File-upload-name {
  font-size: 22px;
  margin-top: 20px;
  font-weight: bold;
  color: $text-color;
}

.display-none {
  display: none;
}

.xls {
  border: 1px solid $dark-color;
  padding: 3px 5px;
  margin-right: 17px;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: -2px;
}

h2.data-upload {
  width: 90%;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 20px;
}

.upload-loader-align {
  height: 0vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #009688 !important;
  position: relative;
  top: -8rem;
  left: 0rem;
}

p.upload-content {
  padding-top: 6px;
  font-size: 14px;
  color: $text-color;
}

.upload-wrapper {
  width: auto;
  margin-top: 40px;
  border-style: dashed;
  padding: 100px;
}

.upload-demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-name li {
  background-color: $upload-text-color;
  padding: 10px 22px;
  width: 100%;
  float: left;
  margin-bottom: 13px;
}

.upload-img {
  cursor: pointer;
}

.upload-img img {
  width: 100%;
}

.text-size {
  border-bottom: 1px solid $border-bottom-color;
  width: fit-content;
  text-align: center;
  float: inherit;
  border-bottom: none;
  color: $text-color;
}

input#myFile {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0px;
  width: 100%;
  height: 299px;
  opacity: 0;
}

.file-wrapper {
  margin-top: 2rem;
  background-color: $bg-color;
  border: 1px dashed;
  height: 200px;
}

.display {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid $primary-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  opacity: 0.6;
  position: relative;
  top: -11rem;
  right: -12rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.count {
  color: $text-color;
  font-weight: bold;
}