@import "../../scss/style.scss";


.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e8;
  border-top: 8px solid #d04a02;
  position: fixed;
  background: #fff;
  z-index: 11111111;
}

img.logo {
  width: 55%;
  height: 36px;
}

.side-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  position: relative;
  padding: 10px;
}

.question {
  border: 1px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

img.comment {
  width: 25px;
  height: 25px;
}

.comment {
  margin-top: 4px;
}

.login-user {
  border: 1px solid;
  border-radius: 50%;
  background: $header-color;
  color: $bg-color;
  width: 36px;
  height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30%;
  padding-left: 10px;
  padding-top: 3px;
}

button.cont {
  color: $bg-color;
  background: none;
  border: none;
  outline: none;
  width: 26px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}

.profile-show {
  position: absolute;
  top: 36px;
  border: 1px solid $border-color;
  right: 22px;
  width: 332px;
  background: $bg-color;
}

.profile-details {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 10px;
  height: 80px;
}

.login-details {
  display: grid;
  border-bottom: 1px solid $border-color;
}

label.profile-names {
  padding: 10px;
}

.logout-btn {
  margin-top: 26px;
  margin-bottom: 20px;
  text-align: center;
}

button.logout {
  padding: 9px;
  background: none;
  border: 1px solid $primary-color;
  color: $primary-color;
}

#Profiles {
  display: none;
}