@import "../../scss/style.scss";

.pagination-demo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $bg-color;
}

.pagination-demo.dark {
    background-color: $pagination-color;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    height: 20vh;
    position: absolute;
    left: 548px;
}

.a-pagination .a-page-number .a-current-page {
    width: 1.8rem !important;
}

.a-pagination .a-page .-next,
.a-pagination .a-page .-previous {
    background-color: $primary-color !important;
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
}

.pagination-aligned span.appkiticon.icon-left-chevron-fill {
    left: 12px !important;
    color: $bg-color !important;
}

.pagination-aligned span.appkiticon.icon-right-chevron-fill {
    color: $bg-line-color !important;
    right: 10px !important;
}

.pagination-aligned .appkiticon {
    position: absolute !important;
    bottom: 75px !important;
}

.pagination-aligned [class*=" icon-"]:before,
[class^=icon-]:before {
    color: $bg-line-color !important
}