@import "../../scss/style.scss";

.cont-right {
  width: 100%;
  padding-top: 60px;
}

.col-sm-2 {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}