@import "../../scss/style.scss";

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid $input-border-color;
    border-radius: 3px;
    background-color: $bg-color;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid $dark-color;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.btn-high {

    background: $complete-btn-color;
    width: 63px;
    padding-top: 2px;
    color: $bg-color;
    padding-bottom: 2px;
    border-radius: 20px;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid $table-border-color;
    text-align: left;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid $table-border-color;
}

.tr-id {
    font-weight: bold;
    font-size: 16px;
}

.dot {
    width: 14px;
    height: 14px;
    border: 1.3px solid $dark-color;
    background: linear-gradient(0deg, $dark-color, $dark-color 50%, $bg-color 50%, $bg-color 50%, $bg-color 50%);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.dot-black {
    width: 14px;
    height: 14px;
    border: 1.3px solid $dark-color;
    background: linear-gradient(0deg, $dark-color, $dark-color 100%, $bg-color 50%, $bg-color 50%, $bg-color 50%);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.top-text {
    font-weight: bold;
    font-size: 18px;
}

.desc {
    margin-top: 0;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 1rem;
    color: $text-color;
    display: inline;
}

.desc-div {
    border-top: 0.3px solid $desk-color;
    padding-top: 45px;
    margin-top: 30px;
    padding-bottom: 21px;
}

.count-div {
    border-top: 0.3px solid #d7d3d3;
    padding-top: 45px;
    margin-top: 30px;
    padding-bottom: 21px;
}

.legends-black {
    width: 110px;
    position: relative;
    top: -3px;
    font-size: 14px;
    line-height: 19px;
    left: 170px;
    display: flex;
}

.legends-partial {
    width: 124px;
    position: relative;
    top: -35px;
    font-size: 14px;
    left: 321px;
    line-height: 13px;
    display: flex;
}

.desc-div-below {
    padding-top: -26px;
    border-top: 0.3px solid #d7d3d3;
    padding-bottom: 21px;
    height: 89px;
}

.legent-text {
    top: 31px;
    font-size: 14px;
    position: relative;
}

th.th-check {
    width: 60px;
}

td.td-check {
    width: 60px;
}