@import "./scss/style.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $app-header-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $bg-color;
}

.App-link {
  color: $app-link-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: $label-top-color !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: $complete-btn-color !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.col-sm-2 {
  margin: 0 !important;
  padding: 0 !important;
}

.nxtbtn {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $bg-color;
  width: 77px;
  height: 34px;
  border-radius: 2px;
  background-color: $label-top-color !important;
}

.backbtn {
  margin-left: 12px;
  padding: 7px;
  border-radius: 2px;
  color: $bg-color;
  border: none;
  outline: none;
  font-size: 14px;
  width: 77px;
  height: 34px;
  border-radius: 2px;
  background-color: $bg-line-color !important;
}

.cancelbtn {
  border-radius: 2px;
  border: solid 1px $label-top-color;
  background-color: $bg-color !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $label-top-color !important;
  width: 95px;
  border-radius: 2px;
}

.a-btn.a-btn-sm {
  height: 2.2rem !important;
  font-size: 0.90rem !important;
  margin-left: 20px !important;
}

// Stepper

.MuiStepLabel-label {
  color: $muiLabel-color !important;
}

.MuiStepLabel-label.MuiStepLabel-completed {
  color: $text-color !important;
}

.active-backbtn {
  margin-left: 12px;
  padding: 7px;
  border-radius: 2px;
  color: $bg-color;
  border: none;
  outline: none;
  font-size: 14px;
  width: 77px;
  height: 34px;
  border-radius: 2px;
  background-color: $bg-line-color !important;
}

.disabled-backbtn {
  margin-left: 12px;
  padding: 7px;
  border-radius: 2px;
  color: $bg-color;
  border: none;
  outline: none;
  font-size: 14px;
  width: 77px;
  height: 34px;
  border-radius: 2px;
  background-color: $label-top-color !important;
}

.reme-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  margin-top: 3em;
}

.reme-save {
  width: 30%;
}

button.reme-save {
  outline: none !important;
  padding: 10px;
  background: $label-top-color;
  color: $bg-color;
  font-size: 14px;
  border-radius: 3px;
}

button.reme-export {
  outline: none !important;
  padding: 10px;
  background: $bg-line-color;
  color: $srch-border-color;
  font-size: 14px;
  border-radius: 3px;
}

.reme-exports-btn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
