// Color

$primary-color: #009688;
$header-color: #d04a02;
$bg-color: #ffffff;
$bg-line-color: #f2f2f2;
$pending-btn-color: #ffb600;
$share-btn-color:#23afab;
$complete-btn-color: #22992e;
$label-top-color:#299d8f;
$alert-text-color: #464646;

$button-bg-color: #499e9b;
$app-link-color: #61dafb;
$app-header-color: #282c34;
$pagination-color: #fafafa;

$table-border-color: #dee2e6;
$desk-color: #d7d3d3;
$bulk-update-color: #fbfcfd;

$upload-text-color: #ececec;
$hide-color: #43a5ea;
$dark-color: #000000;
$input-border-color: #555555;
$bg-secondary-color: #F1F1F1;

$border-bottom-color: #cccccc;
$border-color: #e7e7e8;
$line-color: #dddddd;
$box-shadow-color: #aaaaaa;

$nav-text-color: #295477;
$nav-bar-color: #e9eef1;
$nav-active-color: #d4dde4;

$text-color: #2d2d2d;
$srch-border-color: #dedede;

$spl-number-color: #316fa5;
$details-color: #306192;

$label-color: #bfbfbf;
$close-btn-color: #9e9e9e;
$muiLabel-color: #7d7d7d;

$breadcrum: #2f5e82;

// Font
$medium-font: 'Conv_gotham-medium';
$normal-font: 'GothamBook';
$bold-font: 'Conv_Gotham-Bold';