@import "../../scss/style.scss";

.dynamic_forms {
    padding: 46px 20px 40px 20px;

}

.pad-top:first-child {
    border-top: 1px solid #ccc !important;
    margin-bottom: -2px;
}

.a-accordion-item-header.a-accordion-title.pad-top.a-keyboard-hover-only-div {
    padding: 0px 26px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    min-height: 90px;
}


.data_fields {
    margin-left: 25px;
    margin-bottom: 3rem;
}

.data_fields h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
}

.description {
    font-size: 14px;
    color: $text-color;
}

.width_alignment {
    width: 100%;
}

select#search_categories {
    width: 263px;
    padding: 6px;
}

tr {
    height: 50px;
    border-bottom: 1px solid $border-color;
}

td {
    border-bottom: none;
}

th.font-size {
    font-size: 14px;
}

.mar-btm {
    padding: 20px 20px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid $input-border-color;
    border-radius: 3px;
    background-color: $bg-color;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid $dark-color;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.xls_border {
    border: 1px solid $dark-color;
    padding: 0px 5px;
    margin-right: 17px !important;
    font-size: 12px !important;
    display: flex;
    align-items: center;
    font-weight: 500 !important;
}

.xls_name {
    font-size: 13px !important;
    font-weight: 500 !important;
}

.mar-btm {
    border-bottom: 1px solid $border-color;
}

.mar-btm {
    box-shadow: none !important;
}

.bg-color td:first-child {
    padding-left: 35px;
}

.table {
    padding: 10px 43px;
}

tr.bg-color {
    border-bottom: 1px solid $border-color;
}

.a-accordion .a-accordion-item-header .a-accordion-icon {
    display: flex;
    align-items: center;
    height: 89px;
    color: #2d2d2d;
}

.a-accordion .a-accordion-dropdown-slidedown {
    background-color: #f5f5f5;
}

.a-accordion .a-accordion-item-header .a-ccordion-item-header-text .ellipip-able {
    color: #2d2d2d;
    font-weight: 600;
}