@import "../../scss/style.scss";

.navigation-bar {
  background: #e9eef1;
  float: left;
  position: absolute;
  height: 330vh;
  top: 70px;
}

.dashboard {
  display: flex;
  align-items: center;
  text-align: center;
  background: $nav-active-color;
  padding-left: 35px;
  height: 50px;
}

img.chart {
  width: 14%;
}

.sub-navi {
  width: 100%;
  height: 44px;
}

h3.dashboard-cont {
  color: $nav-text-color;
  padding-left: 13px;
  font-size: 16px;
  width: 74px;
  height: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
}

.nav-content {
  width: 90%;
}

h3.head-cont {
  color: $nav-text-color;
  margin-left: 15px;
  width: 170px;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
}

.nav-content-head {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 36px;
  font-weight: bold;
}

img.Remediimg {
  margin: 7px;
  width: 7%;
}

.label-content {
  margin-top: 5px;
  padding-left: 78px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  color: $text-color;
}

label.label-name {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  color: $nav-text-color;
  cursor: pointer;
}

img.img {
  width: 14%;
}

.border-bottom {
  border-bottom: 1px solid $border-bottom-color;
  margin: 30px auto;
  width: 240px;
  background-color: $nav-bar-color;
}

.btns {
  margin-top: 20px;
  width: 60%;
  margin: 0 auto;
}

button.data-btns {
  border: 1px solid $nav-text-color;
  background: $nav-bar-color;
  color: $nav-text-color;
  padding: 7px;
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: start;
  padding-left: 20px;
  outline: none;
  display: flex;
  align-items: center;
  width: 160px;
  height: 24px;
  border-radius: 2px;
}

span.plus {
  width: 16px;
  height: 16px;
  font-family: material;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $nav-text-color;
  margin-bottom: 12px;
  margin-top: -10px;
}

.btn-name {
  width: 116px;
  height: 14px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  margin-top: -2px;
  margin-bottom: 16px;
  color: $nav-text-color;
}

p.btn-name {
  margin-left: 0px;
}

a.decorate.active {
  text-decoration: none;
}